<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="entities" type="CLK.Configuration.Samples.EntityElementSection, CLK.Configuration.Samples" />
  </configSections>

  <entities>
    <add name="entity001" fixedAttribute="11111" />
    <add name="entity002" fixedAttribute="22222" AAA ="33333" BBB="44444" />
    <add name="entity003" fixedAttribute="55555" CCC ="66666" DDD="77777" EEE="88888" />
  </entities>
  
</configuration>